<div class="card col-md-4 mx-auto mt-4">
  <div class="card-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, ducimus sunt ea ipsum magni qui magnam soluta quasi animi sequi labore enim minima quisquam consectetur! Officiis, accusamus! Maiores nesciunt nobis odio iure quisquam, dolor eius, porro eum esse id beatae nisi! Commodi autem officiis saepe delectus. Ab, distinctio? Consectetur minus assumenda officiis numquam iste soluta, fuga rem fugit vitae fugiat labore possimus, aut modi velit cum qui quia saepe incidunt nisi ut tempore corrupti. Numquam corporis sequi quibusdam ipsum? Adipisci iusto quos ab, esse, recusandae facilis iste illo, corrupti asperiores harum quibusdam unde id sequi laudantium beatae accusamus commodi mollitia.
  </div>
</div>  